name: Rust CI/CD Pipeline

on:
  push:
    branches: [ "master" ]
    types: [ edited ]

  pull_request:
    branches: [ "master" ]
    types: [ opened, synchronize ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-13, macos-14, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: cargo build --verbose