name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]
    types: [ edited ]

  pull_request:
    branches: [ "master" ]
    types: [ opened, synchronize ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose